.selected {
    text-decoration: underline;
}
.bg-logo {
    background-color: #0d5097;
}
.bg-logo-d {
    background-color: #09386a;
}
.text-logo {
    color: #0d5097 !important;
}
.text-logo-d {
    color: #09386a;
}
.nav-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.text-justify {
    text-align: justify;
}
.arcos {
    background-image: url("./images/arcos_lele.png");
    background-repeat: repeat;
    background-size: 40%;
}


@media (max-width: 1000px) {
    #AAA {
        margin-top: 1rem;
        position: static !important;
    }
  } 